@model CalisanSistemi.Model.Personel

@{
    ViewData["Title"] = "Create";
}

<h2 class="fw-bold mb-3">Yeni Personel Oluştur</h2>

<div class="card shadow">

    <div class="card-body">

        <form asp-action="Create" method="post">

            <!-- Ad Soyad -->
            <div class="mb-3">
                <label class="form-label">Ad Soyad</label>
                <input asp-for="PersonelAdSoyad" class="form-control" />
                <span asp-validation-for="PersonelAdSoyad" class="text-danger"></span>
            </div>

            <!-- Email -->
            <div class="mb-3">
                <label class="form-label">Email</label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            <!-- Yaş -->
            <div class="mb-3">
                <label class="form-label">Yaş</label>
                <input asp-for="Yas" class="form-control" />
                <span asp-validation-for="Yas" class="text-danger"></span>
            </div>

            <!-- Meslek -->
            <div class="mb-3">
                <label class="form-label">Meslek</label>
                <input asp-for="Meslek" class="form-control" />
                <span asp-validation-for="Meslek" class="text-danger"></span>
            </div>

            <!-- Maaş -->
            <div class="mb-3">
                <label class="form-label">Maaş</label>
                <input asp-for="Maas" class="form-control" />
                <span asp-validation-for="Maas" class="text-danger"></span>
            </div>

            <!-- Departman -->
            <div class="mb-3">
                <label class="form-label">Departman</label>

                <select asp-for="DepartmanNo"
                        class="form-select"
                        asp-items="ViewBag.Departman">

                    <option value="">Departman Seçiniz</option>

                </select>

                <span asp-validation-for="DepartmanNo" class="text-danger"></span>
            </div>

            <!-- Butonlar -->
            <button type="submit" class="btn btn-success">
                Kaydet
            </button>

            <a asp-action="Index" class="btn btn-secondary">
                Geri
            </a>

        </form>

    </div>

</div>